<h2>{{ title }}</h2>

<!-- cdkDrag is used to create draggable component-->

<div class="box" cdkDrag>Drag it!</div>

<br>

<!--add cdkDropList element to constrain where elements may be dropped-->

<!--=>adding cdkDropList around a set of cdkDrag elements groups the draggable into a re-orderable collection. Items will automatically rearrange as an element moves. This will not update the data modal. -->

<div cdkDropList (cdkDropListDropped)="onDrop($event)">
  <div class="box" *ngFor="let i of items" cdkDrag>{{ i }}</div>
</div>
